*{
    margin: 0px;
    padding: 0px;
}

.back{
    background-image: url('imagens/Camaro-rebaixado-aro22-09.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}


h1{
    text-align: center;
    color: beige;
}
