@charset "UTF-8";

body {
    background-color: rgba(80, 140, 237, 0.737);
}
section {
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 440px;
    width: 300px;
    padding: 10px;
    text-align: center;
}
p {
    font-size: 2em;
}
button:hover{
    background-color: black;
    color: white;
}

.cronometroAtivo{
    color:white;
    background-color: black;
}